*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.page{
    width: 100%;
    height: 100%;
}
.page .page1{
    width: 100%;
    height: 100%;
}
.page1 .box{
    width: 7.2rem;
    height: 7rem;
    background: url("../img/o_1b7q61tovqta6vq1hvg1ui81j619(1).jpg");
    background-size: 100% 100%;
}
.page1 .box1{
    width: 7.2rem;
    height: 5.7rem;
    background: url("../img/o_1b7rs2q3t1kfu1iui1pl1fb31iqc9.jpg");
}
.page1 .box .pic{
    width: 2.96rem;
    height: 0.45rem;
    position: absolute;
    left: 0.5rem;
    top: 3rem;
}
.page1 .box .pic img{
    width: 200%;
    height: 200%;
}
.page1 .box .liu{
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 3.2rem;
    top: 3rem;
}
.page1 .box .liu h2{
    font-size: 0.4rem;
    color: white;
}
.page1 .box .hai{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 6rem;
    left: 2.8rem;
}
.page1 .box .hai img{
    width: 200%;
    height: 200%;
    border-radius: 50%;
}
.page1 .box1 .bo{
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 10rem;
}
.page1 .box1 .bo div{
    float: left;
    margin: 0 0.25rem;
}
.page1 .box1 .bo .po1{
     width: 0.9rem;
     height: 1.2rem;
     border: 1px solid #add8e6;
 }
.page1 .box1 .bo .po1 h2{
    font-size: 0.4rem;
    color: #add8e6;
}
.page1 .box1 .bo .po2{
    width: 0.8rem;
    height: 1.2rem;
    border: 1px solid #add8e6;
}
.page1 .box1 .bo .po2 h2{
    font-size: 0.4rem;
    color: #add8e6;
}
.page1 .box1 .bo .po3{
    width: 0.8rem;
    height: 1.2rem;
    border: 1px solid #add8e6;
}
.page1 .box1 .bo .po3 h2{
    font-size: 0.4rem;
    color: #add8e6;
}
.page1 .box1 .bo .po4{
    width: 0.8rem;
    height: 1.2rem;
    border: 1px solid #add8e6;
}
.page1 .box1 .bo .po4 h2{
    font-size: 0.4rem;
    color: #add8e6;
}
.page1 .box1 .bo .po5{
    width: 0.8rem;
    height: 1.2rem;
    border: 1px solid #add8e6;
    margin-left: 0.45rem;
}
.page1 .box1 .bo .po5 h2{
    font-size: 0.4rem;
    color: #add8e6;
}
.page1 .box1 .ui{
    width: 0.09rem;
    height: 0.66rem;
    position: absolute;
    left: 1.3rem;
    top: 10rem;
}
.page1 .box1 .ui img{
    width: 200%;
    height: 200%;
}
.page1 .box1 .ui1{
    width: 0.09rem;
    height: 0.66rem;
    position: absolute;
    left: 2.7rem;
    top: 10rem;
}
.page1 .box1 .ui1 img{
    width: 200%;
    height: 200%;
}
.page1 .box1 .ui2{
    width: 0.09rem;
    height: 0.66rem;
    position: absolute;
    left: 4.1rem;
    top: 10rem;
}
.page1 .box1 .ui2 img{
    width: 200%;
    height: 200%;
}
.page1 .box1 .ui3{
    width: 0.09rem;
    height: 0.66rem;
    position: absolute;
    left: 5.6rem;
    top: 10rem;
}
.page1 .box1 .ui3 img{
    width: 200%;
    height: 200%;
}
.page2{
    background: url("../img/hei.jpg");
    height: 70%;
}
.qw{
    width: 100%;
}
.qw h2{
    color: #add8e6;
    font-size: 0.3rem;
    text-align: center;
    margin-top:2rem;
}
.page2 .po1{
    width: 0.9rem;
    height: 1.2rem;
    border: 1px solid lightblue;
    position: absolute;
    left: 5.7rem;
    top: 1.5rem;
}
.page2 .po1 h2{
    color: lightblue;
    font-size: 0.35rem;
    text-align: center;
    margin-top: 0.08rem;
}
.box4{
    width: 100%;
    height: 6rem;
}
.page2 .box4 a{
    color: white;
    font-size: 0.27rem;
    margin-left: 3rem;
}
.page2 .box4 .da1 img{
    position: absolute;
    left: 1rem;
    top: 3rem;
    width: 0.8rem;
    height: 0.8rem;
}
.page2 .box4 .da2 img{
    position: absolute;
    left: 1rem;
    top: 4.4rem;
    width: 0.8rem;
    height: 0.8rem;
}
.page2 .box4 .da3 img{
    position: absolute;
    left: 1rem;
    top: 5.7rem;
    width: 0.8rem;
    height: 0.8rem;
}
.page2 .box4 .da4 img{
    position: absolute;
    left: 1rem;
    top: 7rem;
    width: 0.8rem;
    height: 0.8rem;
}
.page2 .box4 .da5 img{
    position: absolute;
    left: 1rem;
    top:8.3rem;
    width: 0.8rem;
    height: 0.8rem;
}
.page2 .nb .xiao1 img{
    width: 80%;
    position: absolute;
    top: 4rem;
    left: 0.8rem;
}
.page2 .nb .xiao2 img{
    width: 80%;
    position: absolute;
    left: 0.8rem;
    top: 5.3rem;
}
.page2 .nb .xiao3 img{
    width: 80%;
    position: absolute;
    left: 0.8rem;
    top: 6.7rem;
 }
.page2 .nb .xiao4 img{
    width: 80%;
    position: absolute;
    left: 0.8rem;
    top: 8rem;
  }
.page2 .nb .xiao5 img{
    width: 80%;
    position: absolute;
    left: 0.8rem;
    top: 9.3rem;
}
.page3{
    width: 100%;
    height: 70%;
    background: url("../img/hei.jpg");
}
.page3 .ji1{
    width: 1rem;
    border: 2px solid lightblue;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.page3 .li{
   position: absolute;
    top: 1.3rem;
    left: 2rem;
}
.page3 .li h2{
    color: lightblue;
    font-size: 0.3rem;
}
.page3 .ji1 h2{
    color: lightblue;
    font-size: 0.5rem!important;
}
.page3 .xu h2{
    color: lightblue;
    font-size: 0.3rem!important;
    position: absolute;
    top: 3.5rem;
    left: 0.4rem;
}
.page3 .xu1 p{
    font-size: 0.3rem;
    color: white;
    position: absolute;
    top: 4.5rem;
    left: 0.8rem;
}
.page3 .wen{
    width: 0.09rem;
    height: 0.66rem;
    position: absolute;
    left: 6rem;
    top: 3.5rem;
}
.page3 .wen img{
    width: 200%;
    height: 200%;

}



.page3 .xu3 h2{
    color: lightblue;
    font-size: 0.3rem!important;
    position: absolute;
    top: 7.5rem;
    left: 0.4rem;
}
.page3 .xu2 p{
    font-size: 0.3rem;
    color: white;
    position: absolute;
    top: 8.5rem;
    left: 0.8rem;
}
.page3 .wen1{
    width: 0.09rem;
    height: 0.66rem;
    position: absolute;
    left: 6rem;
    top: 7.5rem;
}
.page3 .wen1 img{
    width: 200%;
    height: 200%;
}




.page4{
    width: 100%;
    height: 70%;
    background: url("../img/hei.jpg");
}
.page4.qw{
    width: 100%;
}
.page4.qw h2{
    color: #add8e6;
    font-size: 0.3rem;
    text-align: center;
    margin-top:2rem;
}
.page4 .po1{
    width: 0.9rem;
    height: 1.2rem;
    border: 1px solid lightblue;
    position: absolute;
    left: 5.7rem;
    top: 1.5rem;
}
.page4 .po1 h2{
    color: lightblue;
    font-size: 0.35rem;
    text-align: center;
    margin-top: 0.08rem;
}
.page4 .zx{
    width: 0.3rem;
    height: 0.3rem;
}
.page4 .zx2{
    position: absolute;
    top: 3.5rem;
    left: 1rem;
}
.page4 .zx3{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 3.3rem;
    left: 2.4rem;
}
.page4 .zx2 img{
    width: 100%;
    height:100%;
}
.page4 .zx3 img{
    width: 150%;
    height: 150%;
}.page4 .zx4{
     width: 0.3rem;
     height: 0.3rem;
     position: absolute;
     top: 3.3rem;
     left: 3.4rem;
 }
.page4 .zx4 img{
    width: 150%;
    height: 150%;
}
.page4 .zx5{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 3.3rem;
    left: 4.4rem;
}
.page4 .zx5 img{
    width: 150%;
    height: 150%;
}
.page4 .zx6{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 3.3rem;
    left: 5.4rem;
}
.page4 .zx6 img{
    width: 150%;
    height: 150%;
}

.page4 .xx{
    width: 0.3rem;
    height: 0.3rem;
}
.page4 .xx2{
    position: absolute;
    top: 5.5rem;
    left: 1rem;
}
.page4 .xx3{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 5.3rem;
    left: 2.4rem;
}
.page4 .xx2 img{
    width: 100%;
    height:100%;
}
.page4 .xx3 img{
    width: 150%;
    height: 150%;
}.page4 .xx4{
     width: 0.3rem;
     height: 0.3rem;
     position: absolute;
     top: 5.3rem;
     left: 3.4rem;
 }
.page4 .xx4 img{
    width: 150%;
    height: 150%;
}
.page4 .xx5{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 5.3rem;
    left: 4.4rem;
}
.page4 .xx5 img{
    width: 150%;
    height: 150%;
}
.page4 .xx6{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 5.3rem;
    left: 5.4rem;
}
.page4 .xx6 img{
    width: 150%;
    height: 150%;
}
.page4 .bx{
    width: 0.3rem;
    height: 0.3rem;
}
.page4 .bx2{
    position: absolute;
    top: 7.5rem;
    left: 1rem;
}
.page4 .bx3{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 7.3rem;
    left: 2.4rem;
}
.page4 .bx2 img{
    width: 100%;
    height:100%;
}
.page4 .bx3 img{
    width: 150%;
    height: 150%;
}
.page4 .bx4{
     width: 0.3rem;
     height: 0.3rem;
     position: absolute;
     top: 7.3rem;
     left: 3.4rem;
 }
.page4 .bx4 img{
    width: 150%;
    height: 150%;
}
.page4 .bx5{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 7.3rem;
    left: 4.4rem;
}
.page4 .bx5 img{
    width: 150%;
    height: 150%;
}
.page4 .bx6{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 7.3rem;
    left: 5.4rem;
}
.page4 .bx6 img{
    width: 150%;
    height: 150%;
}
.page4 .mx{
    width: 0.3rem;
    height: 0.3rem;
}
.page4 .mx2{
    position: absolute;
    top: 9.5rem;
    left: 1rem;
}
.page4 .mx3{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 9.3rem;
    left: 2.4rem;
}
.page4 .mx2 img{
    width: 100%;
    height:100%;
}
.page4 .mx3 img{
    width: 150%;
    height: 150%;
}
.page4 .mx4{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 9.3rem;
    left: 3.4rem;
}
.page4 .mx4 img{
    width: 150%;
    height: 150%;
}
.page4 .mx5{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 9.3rem;
    left: 4.4rem;
}
.page4 .mx5 img{
    width: 150%;
    height: 150%;
}
.page4 .mx .mx6{
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 9.3rem;
    left: 5.4rem;
}
.page4 .mx6 img{
    width: 150%;
    height: 150%;
}

.page4 .men{
    width: 5rem;
    height: 2rem;
    position: absolute;
    top: 11.2rem;
    left: 1.8rem;
}
.page4 .men h2{
    font-size: 0.3rem!important;
    color: lightblue!important;

}
.page5{
    width: 100%;
    height: 70%;
    background: url("../img/hei.jpg");
}
.page5 .ji1{
    width: 1rem;
    border: 2px solid lightblue;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
.page5 .li{
    position: absolute;
    top: 1.3rem;
    left: 2rem;
}
.page5 .li h2{
    color: lightblue;
    font-size: 0.3rem;
}
.page5 .ji1 h2{
    color: lightblue;
    font-size: 0.5rem!important;
}
.page5 .bn{
    width: 5.65rem;
    height: 5.94rem;
}
.page5 .bn img{
    width: 63%;
    height: 95%;
    margin-top: 0.5rem;
}
.page5 .gh{
    width: 3.56rem;
    height: 4.94rem;
    position: relative;
}
.page5 .gh img{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0.1rem;
    left: 3.6rem;
}


